{#
/**
 * @file
 * Youtube embed template.
 */
#}

<div class="embed-responsive {{ ratio_class }}">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ item }}"></iframe>
</div>